body {
  background-color: #d3d3d3;
}

.homePage {
  margin: 0 auto;
  max-width: 90%;
  margin-top: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #fff;
}

